---
layout: default
body_id: work
nav: work
title: "My Work"
description: "A collection of my recent work"
no_comments: true
---

%h2 My Work
%p
  %em A collection of my recent work

.section
  %img.right(src="/content/work/commonsware/main_page_thumb.png")
  %h3 CommonsWare
  %small.soft.block HTML, SASS, Radiant CMS, Javascript
  %p CommonsWare publishes programming books and open source software. I worked with Terralien to provide them an attractive web storefront to list their books, sell digital book subscriptions, and provide their readers source code downloads and errata updates.
  .footer
    %a(href="http://commonsware.com/") View Site &rarr;

.section
  %img.right(src="/content/work/christian_george/main_page_thumb.png")
  %h3 Restless Pilgrim
  %small.soft.block HTML, SASS, PHP, Wordpress
  %p Christian George is an author, speaker, and blogger. In 2006, I designed a Wordpress site for Christian so he could post articles, sermon videos, and blog about how God was working in his life. In the summer of 2009 we gave it a facelift.
  .footer
    %a(href="http://RestlessPilgrim.com/") View Site &rarr;

.section
  %img.right(src="/content/work/terralien/main_page_thumb.png")
  %h3 Terralien
  %small.soft.block Illustration, Layout
  %p This project was a collaborative effort by designers in the crew. In my mockup I focused mainly on expanding the space theme through illustration and logo adaptation. I took inspiration from old toy packaging and various 1950's space posters to bring elements of fun into the design.

